.DS_Store

# ignore pycache
__pycache__/

.bazel/
bazel-bin
bazel-out
bazel-qronos
bazel-testlogs
.metals/
.scala-build/
#.vscode/
.bazelbsp/
.bsp/
.bazel-cache/
projectview.bazelproject

node_modules/
dist/

.*.venv/
.venv/

compile_commands.json

target/
rust-project.json

database.db
